@import "open-props/normalize";
@import "open-props/buttons";

:root {
  --box-width: 375px;
}

html {
  background-image: var(--gradient-18);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: white;
  text-shadow: 0 1px 0 var(--violet-9);
}

body {
  display: grid;
  place-content: center;
  padding: var(--size-5);
}

main,
form {
  display: grid;
  gap: var(--size-5);
  justify-items: start;
  position: relative;
  width: var(--box-width);
}

h1 {
  font-family: var(--font-sans);
  display: inline-block;
  color: white;
  font-size: 3rem;
  text-shadow: 0.03em 0.03em 0 var(--violet-6);
}

h1:after {
  content: attr(data-shadow);
  position: absolute;
  top: 0.09em;
  left: 0.09em;
  z-index: -1;
  text-shadow: none;
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    rgb(38, 0, 255) 45%,
    rgb(255, 0, 0) 55%,
    transparent 0
  );
  background-size: 0.05em 0.05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shad-anim 15s linear infinite;
}

#result {
  width: var(--box-width);
}

select {
  color: var(--violet-6);
  background-image: var(--gradient-4);
  border-radius: var(--radius-2);
  width: 100%;
  border: 1px solid var(--violet-6);
  font-size: var(--font-size-4);
}

ul {
  background-color: hsl(var(--violet-9-hsl) / 25%);
  padding: var(--size-1) var(--size-2);
  border-radius: var(--radius-2);
}

li {
  margin: 1rem 0;
}
.openall-container {
  display: flex;
  gap: var(--size-2);
  align-items: center;
}

.openall-container p {
  font-size: var(--font-size-1);
}

@keyframes shad-anim {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -100%;
  }
}
